.container{
    width: 90%;
    background-color: #fffbf6;
    height: 4.6em;
    border: 1px solid black;
    border-radius: 30px;
    padding: 15px 30px;
    align-items: center;
    margin: 24px;
    display: flex;
    justify-content: space-between;
}

.container h5{
    margin: 20px 0;
}


.containerButton img{
    width: 28px;
    margin: 12px;
    cursor: pointer;
}